@import "tailwindcss";

@theme {
  --color-primary: #ee6f4b;
  --color-foreground: #161723;
}

#root {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter Tight", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
